<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lipputyypit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lipputyypit</h1>
    <table class="table table-striped">
		<tr>
		    <th>Kuvaus</th>
		    <th>Hinta</th>
		    <th>Toiminnot</th> 
		</tr>  
    	<tr th:each = "ticketType : ${ticketTypes}">
    		<td th:text="${ticketType.type}"></td>
    		<td th:text="${ticketType.price}"></td>
    		<!-- <td><a th:href="@{/delete/{id}(id=${event.id})}">Delete</a> -->
    		<!--<td><a th:href="@{/edit/{id}(id=${event.event_id})}">Muokkaa</a> <a th:href="@{/atypes/{id}(id=${event.event_id})}">Lipputyypit</a></td>-->
    	</tr>
     </table>
     <div>
		<form th:object="${ticketType}" th:action="@{../saveType}" action="#" method="post">
		<input type="hidden" id="event" th:field="*{event}" />
		  	<label for="type">Kuvaus</label>
			<input type="text"  id="type" th:field="*{type}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">Hinta</label>
			<input type="number" id="price" th:field="*{price}" step=".01"/>
			<div style="clear: both; display: block; height: 10px;"></div>
       		
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>