<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lipputyypit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lipputyypit</h1>
		<div>
		<form th:object="${acceptableTicketTypes}" th:action="@{../saveAType}" action="#" method="post">
			<label for="event">Tapahtuma</label>
		  	<input type="text"  id="eventName" th:field="*{event}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="deplist">Lipputyyppi</label>
		  	<select id="deplist" th:field="*{ticketType}" class="form-control">
			<option th:each="ticketType: ${ticketTypes}" th:value="${ticketType.type_id}" th:text="${ticketType.type} + ' ' + ${ticketType.price}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<!-- <label for="eventEndDate">Tapahtuma päättyy</label>
			<input type="text" id="eventEndDate" th:field="*{eventEndDate}" />
			<div style="clear: both; display: block; height: 10px;"></div> -->
       		
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>